* { box-shadow: none !important; }
html {
    height: 100vh;
    width: 100vw;
}
body {
    height: 100vh;
    width: 100vw;
}

.columns {
    height: 100%;
}

div.is-widescreen {
    max-width: 100%;
    width: 100%;
}

#name {
    max-width: 10ch;
    margin-left: auto;
    margin-right: auto;
}


.socials .icon {
    font-size: 120%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
