<!DOCTYPE html>
<html lang="en-gb" class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Matthias Valvekens &ndash; $title$</title>
        <link rel="stylesheet" href="/static/css/bulma.min.css">
        <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/css/blog.css">
        <!-- see /static/css/LICENSE.syntax -->
        <link rel="stylesheet" href="/static/css/syntax.css">
        <script src="/static/js/website-nav.js"></script>
        <script>document.addEventListener('DOMContentLoaded', activateNavbarBurger);</script>
    </head>
    <body>
        <header class="header">
            <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" id="main-navbar">
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <img src="/static/images/tegaki-matthias-128.png" width="32" height="32" alt="mvalvekens.be logo">
                    </div>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/">
                            Home
                        </a>
                        <a class="navbar-item" href="/about.html">
                            About Me
                        </a>
                        <a class="navbar-item" href="/blog.html">
                            Blog
                        </a>
                        <a class="navbar-item" href="/contact.html">
                            Contact
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main">
            $body$
        </main>
        <footer class="footer has-text-centered is-size-7">
            $partial("templates/copyright.html")$
        </footer>
    </body>
</html>
