
<section class="section">
    <h1 class="title has-text-centered">List of blog entries</h1>
    <div class="container">
        <ul>
        $for(posts)$
        <li class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                    <strong>$date$</strong> $if(author)$<span class="is-italic has-text-weight-light" style="margin-left: 1rem;">@$author$</span>$endif$
                    <br>
                    <a href="$url$" style="color: #333">$title$</a>
                    </p>
                    $if(preview)$
                    <div class="preview" style="color: #555">
                        <p>
                            $preview$
                            <span style="color: #aaa; user-select: none;" aria-hidden="true">/.../</span>
                        </p>
                    </div>
                    <a href="$url$" aria-label="Read $title$">Read &raquo;</a>
                    $endif$
                </div>
            </div>
        </li>
        $endfor$
        </ul>
    </div>
</section>
$if(currentPageNum)$
$partial("templates/pagination.html")$
$endif$
