<article class="article">
    <script type="application/ld+json">
        $article-meta$
    </script>
    <h1 class="title blog-title has-text-centered">$title$</h1>
    <section class="article-info">
        <p>
        Posted on <time pubdate datetime="$date$">$date$</time>
        $if(author)$
            <span itemscope itemtype="http://schema.org/Person">
                by <span itemprop="author">$author$</span>
            </span>
        $endif$
        </p>
        $if(tags)$
            <p>Tags: $tags$</p>
        $endif$
        $if(series)$ $series$ $endif$
    </section>
    <section class="blog-paras">
        $body$
    </section>
</article>
